<!DOCTYPE html>

<section class="bg flex flex-cv flex-ch">
  <img src="../../assets/logo.png" alt="FlowBank">
  <div class="box-login">
    <h1>Bem-vindo</h1>
    <hr>
    <p>Digite abaixo seu CPF e sua senha:</p>
    <div class="input cpf">
      <img src="../../assets/ico-pessoa.png" alt="ico-pessoa">
      <input [(ngModel)] = login.nrCPF type="number" placeholder="CPF">
    </div>
    <div class="input">
      <img src="../../assets/ico-senha.png" alt="ico-cadeado">
      <input [(ngModel)] = login.dsSenha type="password" placeholder="Senha">
    </div>
    <button (click)="fazerLogin()">Acessar</button>
  </div>
</section>
