<section class="bg">
  <div class="container">
    <h1>Transferências</h1>
    <h2>Preencha os campos abaixo:</h2>
    <div class="flex flex-sp flex-cv saldo">
      <p>Saldo total:</p>
      <span>R$ 1300,00</span>
    </div>
    <div class="flex flex-wr box-transferencia">
      <div class="box">
        <h2>Dados de transferência</h2>
        <input [(ngModel)]='favorecido.nrAgencia' name='nrAgencia' type="text" placeholder="Número da agência">
        <input [(ngModel)]='favorecido.nrConta' name='nrConta' type="text" placeholder="Número da conta">
        <input [(ngModel)]='favorecido.nrCPF' name='nrCPF' type="text" placeholder="CPF do favorecido">
      </div>
      <div class="w100">
        <label>Valor: <input [(ngModel)]='transacao.valor' type="text"></label>
      </div>
      <div class="w100">
        <button (click)="enviaDados()" >Realizar transferência</button>
      </div>
    </div>
  </div>
</section>