<section class="bg">
  <div class="container">
    <h1>Transferências</h1>
    <h2>Preencha os campos abaixo:</h2>
    <div class="flex flex-sp flex-cv saldo">
      <p>Saldo total:</p>
      <span>R$ 1300,00</span>
    </div>
    <div class="flex flex-wr box-transferencia">
      <div class="box">
        <h2>Dados de transferência</h2>
        <input type="text" placeholder="Número da agência">
        <input type="text" placeholder="Número da conta">
        <input type="text" placeholder="CPF do favorecido">
      </div>
      <div class="w100">
        <label>Valor: <input type="text"></label>
      </div>
      <div class="w100">
        <button>Realizar transferência</button>
      </div>
    </div>
  </div>
</section>