<section class="bg">
  <div class="container">
    <h1>Extrato</h1>
    <h2>Confira suas transações:</h2>
    <div class="flex flex-sp flex-cv saldo">
      <p>Saldo total:</p>
      <span>R$ 1300,00</span>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Débito</th>
            <th>Crédito</th>
          </tr>
        </thead>
        <tbody *ngIf='!!this.extrato'>
          <tr li *ngFor='let transacao of this.extrato["transacoes"]'>
            <td>{{transacao.data}} {{transacao.hora}}</td>
            <td>{{transacao.tipo}}</td>
            <td>{{transacao.tipo}}</td>
            <td>{{transacao.valor}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
