<section class="bg">
  <div class="container">
    <h1>Extrato</h1>
    <h2>Confira suas transações:</h2>
    <div class="flex flex-sp flex-cv saldo">
      <p>Saldo total:</p>
      <span>R$ 1300,00</span>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Débito</th>
            <th>Crédito</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Loja do seu Zé</td>
            <td>05/12/2018</td>
            <td>R$ 50,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Transferência</td>
            <td>02/12/2018</td>
            <td>R$ 100,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Depósito</td>
            <td>19/11/2018</td>
            <td>-</td>
            <td>R$ 150,00</td>
          </tr>
          <tr>
            <td>Loja do seu Zé</td>
            <td>05/12/2018</td>
            <td>R$ 50,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Transferência</td>
            <td>02/12/2018</td>
            <td>R$ 100,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Depósito</td>
            <td>19/11/2018</td>
            <td>-</td>
            <td>R$ 150,00</td>
          </tr>
          <tr>
            <td>Loja do seu Zé</td>
            <td>05/12/2018</td>
            <td>R$ 50,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Transferência</td>
            <td>02/12/2018</td>
            <td>R$ 100,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Depósito</td>
            <td>19/11/2018</td>
            <td>-</td>
            <td>R$ 150,00</td>
          </tr>
          <tr>
            <td>Loja do seu Zé</td>
            <td>05/12/2018</td>
            <td>R$ 50,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Transferência</td>
            <td>02/12/2018</td>
            <td>R$ 100,00</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Depósito</td>
            <td>19/11/2018</td>
            <td>-</td>
            <td>R$ 150,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
