<section class="bg">
  <div class="container">
    <h1>Extrato</h1>
    <h2>Confira suas transações:</h2>
    <div class="flex flex-sp flex-cv saldo">
      <p>Saldo total:</p>
      <span>R$ {{ conta.vlSaldo }}</span>
    </div>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Débito</th>
            <th>Crédito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let item of extrato'>
            <td>{{ item.observacao }}</td>
            <td>{{ item.dtTransacao | date:'dd/MM/yyyy' }}</td>
            <td>{{ item.tpTransacao == "debito" ? item.vlTransacao : '-' }}</td>
            <td>{{ item.tpTransacao == "credito" ? item.vlTransacao : '-'  }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
